#luca-splash {
  display: none; }

.publication-viewer,
.wp-swipe-panel-group {
  overflow: visible !important; }

.wp-swipe-panel-group-panel {
  display: block !important;
  overflow: visible !important;
  visibility: visible !important;
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -o-transform: none !important;
  -ms-transform: none !important;
  transform: none !important; }

.article {
  overflow: visible !important; }

.section {
  overflow: visible !important;
  visibility: visible !important;
  position: relative !important;
  top: auto !important;
  right: auto !important;
  bottom: auto !important;
  left: auto !important;
  max-height: none !important;
  box-sizing: border-box; }

.title-section {
  height: 80% !important; }

.title-section * {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -o-transform: none !important;
  -ms-transform: none !important;
  transform: none !important; }

.title-section .title-header {
  overflow: hidden; }

.single-column-section {
  height: auto !important; }

.single-column-section .section-background {
  position: static !important;
  width: 100%;
  height: 50vh; }

.section-background {
  z-index: 0 !important; }

.fullscreen-photo-section,
.window-section {
  height: 75% !important; }

.fifty-fifty-section {
  height: auto !important; }

.fifty-fifty-section .section-view,
.fifty-fifty-section .section-content,
.fifty-fifty-section .section-content-view,
.fifty-fifty-section .content-container,
.fifty-fifty-section .flip-book,
.fifty-fifty-section .flip-book-image {
  visibility: visible !important;
  position: relative !important;
  top: auto !important;
  right: auto !important;
  bottom: auto !important;
  left: auto !important;
  height: auto !important;
  max-height: none !important; }

.fifty-fifty-section .section-content {
  width: 100% !important; }

.fifty-fifty-section .flip-book {
  margin: 0 !important;
  padding: 2rem 2rem 0 2rem !important;
  width: auto !important; }

.fifty-fifty-section .flip-book-image {
  display: block;
  width: 100% !important;
  height: 20rem !important;
  margin-bottom: 2rem !important; }

.card-flipbook-section {
  overflow: hidden !important;
  height: auto !important; }

.card-flipbook-section + .section.top-shadow {
  box-shadow: none !important; }

.card-flipbook-section .section-view,
.card-flipbook-section .section-content,
.card-flipbook-section .section-content-view,
.card-flipbook-section .content-group,
.card-flipbook-section .section-background,
.card-flipbook-section .section-background-image {
  visibility: visible !important;
  position: relative !important;
  top: auto !important;
  right: auto !important;
  bottom: auto !important;
  left: auto !important;
  height: auto !important;
  max-height: none !important; }

.card-flipbook-section .section-background {
  margin: 0 !important;
  padding: 2rem 2rem 0 2rem !important;
  width: auto !important; }

.card-flipbook-section .section-background-image {
  display: block;
  width: 100% !important;
  height: 20rem !important;
  margin-bottom: 2rem !important; }

.card-flipbook-section .card,
.card-flipbook-section .content-container {
  width: auto !important;
  max-width: none !important; }

.bumper-page {
  height: 100%; }

@media print {
  * {
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important; }
  .section {
    page-break-before: always; }
  .section.single-column-section {
    page-break-before: auto !important; }
  .section.single-column-section.split-layout-print {
    page-break-before: always !important; }
  .section.title-section {
    height: 100vh !important; }
  body {
    position: relative !important;
    top: auto !important;
    bottom: auto !important; }
  #app, #luca-splash, .publication-view, .publication-viewer,
  .wp-swipe-panel-group, .wp-swipe-panel-group-view, .wp-swipe-panel-group-panel, .article {
    position: relative !important;
    height: 90vh !important;
    top: auto !important;
    bottom: auto !important; }
  @page {
    margin: .6cm; }
  .section.large-content-spacing-bottom .section-content .content-container:last-child {
    padding-bottom: 0 !important;
    /* prevent blank pages resulting from widowed padding */ }
  .section.author-section, .section.credits-section {
    page-break-after: auto;
    page-break-before: auto;
    page-break-inside: avoid; }
  .section.bumper-section {
    display: none !important; }
  .section.credits-section {
    box-shadow: none !important; }
  .section.top-shadow, .section.bottom-shadow {
    box-shadow: none !important; }
  .section.spacer-section {
    display: none !important; }
  .section.photo-grid-section {
    page-break-before: auto; }
  .section.photo-grid-section .photo-group,
  .section.credits-section .photo-credits {
    page-break-inside: avoid;
    padding-bottom: 1cm; }
  .fullscreen-photo-section, .window-section {
    height: 100vh !important; }
  .article {
    height: auto !important; }
  .author-appreciation-container {
    padding-bottom: 0 !important; }
  .sections-article-layout .brand-header-section {
    height: 12vh !important; }
  .sections-article-layout .section.title-section:nth-child(2) {
    height: 88vh !important;
    page-break-before: avoid !important; } }

.print-mode .gradient-overlay {
  z-index: auto !important; }

.print-mode .section.single-column-section .content-container {
  padding-top: 0 !important;
  margin-top: 0 !important;
  box-shadow: none !important; }
  .print-mode .section.single-column-section .content-container h3, .print-mode .section.single-column-section .content-container h4, .print-mode .section.single-column-section .content-container p {
    padding-top: 1rem; }
  .print-mode .section.single-column-section .content-container p {
    margin-bottom: 0 !important; }

.print-mode .section.single-column-section div.image {
  page-break-inside: avoid !important;
  padding-top: 10vh !important;
  padding-bottom: 5vh !important;
  margin-bottom: 0 !important; }

.print-mode .section.single-column-section p:first-child {
  margin-top: 0 !important;
  padding-top: 20px !important; }

.print-mode .section.single-column-section div.image:first-child {
  margin-top: 0 !important;
  padding-top: 10vh !important; }

.print-mode .section.single-column-section div.image,
.print-mode .section.card-flipbook-section div.image {
  max-height: 90vh !important;
  overflow: hidden; }
  .print-mode .section.single-column-section div.image img,
  .print-mode .section.card-flipbook-section div.image img {
    max-height: 80vh; }

.print-mode .section.card-flipbook-section .section-background {
  padding: 0 !important;
  display: none !important; }

.print-mode .article .embedded-link-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.print-mode .article .embedded-link-wrapper:after {
  display: block !important;
  background-color: transparent;
  background-image: url(images/icon-video-play.svg);
  background-repeat: no-repeat;
  background-size: 60px 60px;
  background-position: 50% 50%;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0; }

.print-mode .article .embedded-link-wrapper a {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.print-mode .article .link-button-wrapper {
  padding-top: 3vh;
  page-break-inside: avoid;
  text-align: center; }
  .print-mode .article .link-button-wrapper a {
    font-size: 1rem; }

.print-mode .section.card-flipbook-section .card-serial-layout .content-container {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 0 !important;
  margin-top: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  box-shadow: none !important; }

.print-mode .section.card-flipbook-section .card-serial-layout .print-image {
  height: 60vh !important;
  width: 100vw !important;
  background-size: cover;
  page-break-inside: avoid; }

.print-mode .section.card-flipbook-section .card-serial-layout div.card-container {
  position: relative;
  padding: 10vh 10vh 10vh 10vh; }

.print-mode .section.card-flipbook-section .card-serial-layout div.card-container-inner {
  left: 0 !important;
  width: 100% !important;
  overflow: visible; }
